/*  BASIC ELEMENT STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

header {
	background-color: #3A3A3D;
	text-align: center;
	min-height: 150px;
	padding: 35px 0 0 0;
}

h1 {
	font-size: 4em;
	margin-top: 0.3em;
}

h1, h5 {
	text-shadow: -3px 2px 7px #000;
	-moz-text-shadow: -3px 2px 7px #000;
	-webkit-text-shadow: -3px 2px 7px #000;
}

footer {
	background-color: #3A3A3D;
	height: 200px;
}


/*  GRID STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
	position: relative;
	width: 100%;
}

.row {
	clear: both;
	width: 100%;
}

.column {
	float: left;
}

.oneC {
  width: 8.33333%;
}

.twoC {
  width: 16.66666%;
}

.threeC {
  width: 25%;
}

.fourC {
  width: 33.33333%;
}

.fiveC {
  width: 41.66666%;
}

.sixC, .halfC {
  width: 50%;
}

.sevenC {
  width: 58.33333%;
}

.eightC {
  width: 66.66666%;
}

.nineC {
  width: 75%;
}

.tenC {
  width: 83.33333%;
}

.elevenC {
  width: 91.66666%;
}

.twelveC, .fullC {
  width: 100%;
}


/*  OTHER CLASS & ID STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-container {
}

.game-container {
	background-image: url('http://i.imgur.com/UPlQoNs.gif');
	margin: 0;
	padding: 0;
	min-height: 500px;
}

.gameboard {

}

.cell {
	background-color: #351330;
	margin: 15px;
	text-align: center;
	text-shadow: -3px 4px 10px #000;
	-moz-text-shadow: -3px 4px 10px #000;
	-webkit-text-shadow: -3px 4px 10px #000;
	min-height: 70px;
	padding: 25px 20px 20px;
	border-right: solid #000 7px;
	border-bottom: solid #000 7px;
	font-size: 4em;
}

.cell:hover {
	background-color: #540045;
}

.cell:active {
	background-color: #C60052;
}

#vs {
	color: red;
	font-size: 0.7em;
	margin: 0 1em;
}

#rounds {
	text-align: center;
	margin: 0 48% 15px 48%;	
	padding: 5px;
}

#reset{
	text-align: center;
	height: 25px;
	margin: 15px 48.1% 0 48.1%;
}

footer .column {
	margin: 170px 20px 0 0;
}

footer span {
	float: right;
	padding-right: 25px;
}