/*  BASIC ELEMENT STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	background-color: #fff;
}

header {
	background-color: #ccc;
	height: 100px;
}

h1, h5 {
	text-align: center;
}

footer {
	background-color: #ccc;
	height: 200px;
}


/*  GRID STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
	position: relative;
	width: 100%;
}

.row {
	clear: both;
}

.column {
	float: left;
}

.oneC {
  width: 8.33333%;
}

.twoC {
  width: 16.66666%;
}

.threeC {
  width: 25%;
}

.fourC {
  width: 33.33333%;
}

.fiveC {
  width: 41.66666%;
}

.sixC, .halfC {
  width: 50%;
}

.sevenC {
  width: 58.33333%;
}

.eightC {
  width: 66.66666%;
}

.nineC {
  width: 75%;
}

.tenC {
  width: 83.33333%;
}

.elevenC {
  width: 91.66666%;
}

.twelveC, .fullC {
  width: 100%;
}


/*  OTHER CLASS & ID STYLINGS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-container {

}

.game-container {

}

.gameboard {

}

.cell {
	background-color: purple;
	margin: 15px;
	border: solid #000 7px;
	text-align: center;
	min-height: 70px;
	padding-top: 50px;
}

#round{
	text-align: center;
}